body {
    background-color: rgb(108, 207, 184);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    margin-top: 2rem;
}

dt {
    background-color: rgb(85, 42, 20);
    padding: 1rem;
    font-weight: bold;
}

dd {
    padding: 1rem;
}

p{
    width: 80%;
    background-color: rgb(112, 64, 39);
    margin: 1rem auto;
    padding: 1rem;
    border: 2px solid rgb(98, 51, 27);
}
ul{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgb(98, 51, 27);
    padding-left: 4rem;
}

a{
    display: block;
    margin: auto;
    text-align: center;
    padding: 1rem;
}
