html{
  scroll-behavior: smooth;
}

body {
  background-color: #fff5fc;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: #ffffff;
  padding: 1rem;
}

#pageheader {
  background-color: #ffd1ef;
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.32rem;
  height: 6.32rem;
  background-color: none;
  background-image: url(Images/logosmall.png);
}
#pageheader .container {
  background: none;
  min-height: auto;
  text-align: center;
}
#media {
  background-color: #ffffff;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  aspect-ratio: 16/9;
}
#career {
  background-color: #ffccf1;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: #ffdef7;
  min-height: 10rem;
  padding: 1rem;
}
blockquote{
  color: #584141;
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
}
span{
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
  text-align: right;
}
#semester1 {
  background-color: #ffe5f7;
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: #ffe5f7;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: #ffbde8;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifooter{
  background-color: #ffebf9;
  padding: 1rem;
  min-height: auto;
}
#aifooter .container {
text-align: center;
min-height: auto;
}
#subfooter {
  background-color: #fff5fc;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  display: block;
  margin: auto;
  background-color: #76534c;
  border: 5px solid #76534c;
}
/* hai */