html{
  scroll-behavior: smooth;
}

body {
  background-color: #ffe2f7;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: #fffcef;
  padding: 1rem;
}
.media-container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: #ffe2f7;
  padding: 1rem;
}

#pageheader {
  background-color: #ffe2f7;
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.32rem;
  height: 6.32rem;
  background-color: none;
  background-image: url(Images/logosmall.png);
}
#pageheader .container {
min-height: auto;
}
#pageheader a{
  color: #dfaec6;
  text-decoration: none;
}
#pageheader nav{
  text-align: center;
}
#pageheader nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li{
  padding: 1rem;
  background-color: #fffade;
  border : 3px dotted #e9c1d4;
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover{
  background-color: #f4cde0;
}

#media {
  background-color: #ffffff;
  min-height: 12rem;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background-size: cover;
  aspect-ratio: 16/9;
}
#career {
  background-color: #ffdef7;
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent p{
  color: #e9a9dc;
}
#pagecontent h1{
  color: #e2c0d2;
}
#pagecontent h2{
  color: #e2c0d2;
}
#pagecontent span{
color: #ddc2d7;

}
#pagecontent {
  background-color: #ffe2f7;
  min-height: 10rem;
  padding: 1rem;
}
blockquote{
  color: #ddc2d7;
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
}
span{
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
  text-align: right;
}
#career h2{
  color: #e9a9dc;
}
#career ul{
  color: #e4b9e6;
}
#semester1 h2{
  color: #e9a9d1;
}
#semester1 {
  background-color: #ffe5f7;
  min-height: 10rem;
  padding: 1rem;
}
#semester1 a{
  color: #e7c5e8;
}
#semester2 h2{
  color: #f7c9e5;
}
#semester2 {
  background-color: #ffe5f7;
  min-height: 10rem;
  padding: 1rem;
  color: #f7c9e5;
}
#semester2 a{
  color: #e9a9d1;
}
#pagefooter {
  background-color: #ffbde8;
  min-height: auto;
  padding: 1rem;
  color: #dea3e0;
}
#pagefooter a{
  color: #dea3e0;
    text-decoration: wavy underline;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifooter{
  background-color: #ffebf9;
  padding: 1rem;
  min-height: auto;
  color: #ecbaed;
}
#aifooter a{
  color: #ecbaed;
  text-decoration: wavy underline;
}
#aifooter .container {
text-align: center;
min-height: auto;
}
#subfooter {
  background-color: #ffedfa;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
  color: #d9c6d7;
}
audio {
  display: block;
  margin: auto;
  background-color: #dfa6bf;
  border: 5px solid #dfa6bf;
}

@media screen and (min-width: 650px)
{
  #pageheader nav ul{
    background-color: none;
    margin-top: 2rem;
  }
  #pageheader nav ul li{
    display: inline-block;
  }
  #pagecontent
  {
    background-color: #ffe2f7;
  }
  #career{
    background-color: #ffdef7;
  }

}
@media screen and (min-width: 1000px)
{
  #pagecontent
  {
    background-color: #ffe2f7;
  }
  #career{
    background-color: #ffccf1;
  }
  
}
/* hai */