/* Mobile View - Default */
:root{
  --primary-color: red;
--secondary-color: lime;
--tertiary-color: blue;
}



  .chiron-goround-tc-maintext {
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }


        .card{
            padding: 1.5rem;
            background-color: #ffd8f2;
            width: 80%;
            margin: auto;
            margin-bottom: 2rem;
            border-radius: 1rem;
            box-shadow: 3px 3px 3px 2px #00000078;
        }

html{
  scroll-behavior: smooth;
}

body {
  background-color: #ffe2f7;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: #fffcef;
  padding: 1rem;
}
.media-container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: #ffe2f7;
  padding: 1rem;
}

#pageheader {
  background-color: #ffe2f7;
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.32rem;
  height: 6.32rem;
  background-color: none;
  background-image: url(Images/logosmall.png);
  border: 1px solid none;
  margin: auto;
}
#pageheader .container {
min-height: auto;
}
#pageheader a{
  color: #dfaec6;
  text-decoration: none;
}
#pageheader nav{
  text-align: center;
}
#pageheader nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li{
  padding: 1rem;
  background-color: #fffade;
  border : 3px dotted #e9c1d4;
  margin: 2px;
  border-radius: 10px;
}
#pageheader nav ul li:hover{
  background-color: #f4cde0;
  transition: 0.3s;
  
}

#media {
  background-color: #ffffff;
  /* min-height: 10rem; */
  height: 60vh;
  background-position: center center;
  padding: 1rem;
  background-size: cover;
  /* aspect-ratio: 16/9; */
  background-image: linear-gradient(rgba(4, 4, 4, 0), rgb(255, 226, 247)), url(Images/hero.png);
  border-radius: .5rem;
} 
#career {
  background-color: #ffdef7;
  min-height: 10rem;
  padding: 1rem;
}
#career h2:hover{
  color: #e29cd4;
  transition: 0.3s;
}

#career a{
  color: #e3b0e5;
}
#pagecontent p{
  color: #e9a9dc;
  line-height: 2rem;
}
#pagecontent h1{
  color: #e2c0d2;
}
#pagecontent h2{
  color: #e2c0d2;
}
#pagecontent span{
color: #ffb9f3;
}
#pagecontent a{
text-decoration: none;
color: #ffb9f3;
}
#pagecontent a:hover{
text-decoration: none;
color: #e582c1;
  transition: 0.3s;
}

#pagecontent {
  background-color: #ffe2f7;
  min-height: 10rem;
  padding: 1rem;
}
blockquote{
  color: #ffa5e1;
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
}
blockquote:hover{
  color: #e798de;
  transition: 0.3s;
}
#pagecontent span:hover{
  color: #e582c1;
  transition: 0.3s;
}

span{
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 1rem;
  text-align: right;
  text-decoration: none;
}
#career h2{
  color: #e9a9dc;
}
#career ul{
  color: #e4b9e6;
  list-style-type: none;
}

#career a{
  text-decoration: wavy underline;
}

#career i{
  color: #ffb3e2;
  font-size: .8rem;
  padding-right: .5rem;
  line-height: 1.5rem;
}

#semester1 h2{
  color: #e9a9d1;
}
#semester1 {
  background-color: #ffe5f7;
  min-height: 10rem;
  padding: 1rem;
}

#semester1 i{
  color: #ffc5e9;
  font-size: .8rem;
  padding-right: .5rem;
  line-height: 1.5rem;
}

#semester1 ul{
  list-style-type: none;
}

#semester2 ul{
  list-style-type: none;
}

#semester1 a{
  color: #e7c5e8;
  text-decoration: wavy underline;
}
#semester2 h2{
  color: #f7c9e5;
}
#semester2 {
  background-color: #ffe5f7;
  min-height: 10rem;
  padding: 1rem;
  color: #f7c9e5;
}

#semester2 i{
  color: #ffade0;
  font-size: .8rem;
  padding-right: .5rem;
  line-height: 1.5rem;
}

#semester2 a{
  color: #e9a9d1;
  text-decoration: wavy underline;
}

#worksamples{
  background-color: #ffc5ee;
  min-height: 10rem;
  padding: 1rem;
  color: #ffabdf;
}

#worksamples a{
  text-decoration: wavy underline;
  color: #ffabdf;
}

#worksamples i{
  color: #ffb1e1;
  font-size: .8rem;
  padding-right: .5rem;
  line-height: 1.5rem;
}

#worksamples ul{
  list-style-type: none;
}

#certificates{
  background-color: #ffcef1;
  min-height: 10rem;
  padding: 1rem;
  color: #ffb3e2;
}

#certificates i{
  color: #ffc5e9;
  font-size: .8rem;
  padding-right: .5rem;
  line-height: 1.5rem;
}

#certificates ul{
  list-style-type: none;
}

#certificates a{
  text-decoration: wavy underline;
  color: #ffb7e3;
}

#pagefooter {
  background-color: #ffbde8;
  min-height: auto;
  padding: 1rem;
  color: #dea3e0;
}
#pagefooter a{
  color: #dea3e0;
    text-decoration: wavy underline;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifooter{
  background-color: #ffebf9;
  padding: 1rem;
  min-height: auto;
  color: #ecbaed;
}
#aifooter a{
  color: #ecbaed;
  text-decoration: wavy underline;
}
#aifooter .container {
text-align: center;
min-height: auto;
}
#subfooter {
  background-color: #ffedfa;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
  color: #d9c6d7;
}
audio {
  display: block;
  margin: auto;
  background-color: #dfa6bf;
  border: 5px solid #dfa6bf;
}

/* Tablet View */
@media screen and (min-width: 600px)
{
  #pageheader nav ul{
    background-color: none;
    margin-top: 2rem;
  }
  #pageheader nav ul li{
    display: inline-block;
  }
  #pagecontent
  {
    background-color: #ffe2f7;
  }
  #career{
    background-color: #ffdef7;
  }
  #logo{
    margin: 0;
  }

}
/* Desktop View */
@media screen and (min-width: 1000px)
{
  #pagecontent
  {
    background-color: #ffe2f7;
  }
  #career{
    background-color: #ffdef7;
  }
  
}
/* hai */